.nav-link{
  display: flex;
  column-gap: 5vw;
  font-size: 1.1em;
  font-family: 'Sometype Mono', sans-serif;
}
.nav-link > a{
  color: var(--text-light);
  position: relative;
  &::after{
    content: '';
    height: 5px;
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -10px;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
  }
  &:hover{
    &::after{
      transform: scaleX(1);
    }
  }
  &.active{
    color: var(--primary-color);
  }
}
.nav-bar{
  box-shadow: 0 3px 7px var(--shadow-color);
  height: 70px;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5vw;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 2;
}
.logo{
  font-size: 2.2em;
  color: var(--primary-color);
  text-shadow: 3px 5px 3px var(--shadow-color);
  &:hover{
    // transform: scale(1.2);
    transform: translate(10px, -3px);
  }
}
.logo > span{
  color: var(--text-color);
}
.sidebar-icon{
  display: none;
}
.sidebar-icon > i{
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.open{
  display: block;
}
.close{
  display: none;
}

/* sidebar */
.side-bar{
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: var(--background-color);
  box-shadow: 0 0 0 100vw var(--shadow-color),
              4px 0 10px var(--primary-color);
  animation: slideLeft .7s forwards;
}

.side-bar-link{
  margin-top: 2em;
  padding-left: .6em;
}
.side-bar-link > a{
  color: var(--text-color);
  display: block;
  font-size: 1.3em;
  padding: .4em .6em;
  margin: 1em 0;
  transform: translateX(-100%);
  &.active{
    border-left: 4px solid var(--primary-color);
  };
  &:nth-child(1){
    animation: slideLeft .7s forwards;
    animation-delay: .5s;
  }
  &:nth-child(2){
    animation: slideLeft .7s forwards;
    animation-delay: .7s;
  }
  &:nth-child(3){
    animation: slideLeft .7s forwards;
    animation-delay: .9s;
  }
}
.side-bar-link > a > i{
  margin-right: .5em;
}