.settings-section{
  margin-block: 100px;

  width: 90vw;
  margin-inline: auto;
  h2{
    color: var(--text-color);
  }
  .option-container{
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    border-left: .6em solid var(--primary-color);
    background-color: var(--background-light);
    padding: 1em;
    box-shadow: 2px 2px 5px var(--shadow-color);
    display: flex;
    gap: 1em;
    .option{
      height: 3em;
      width: 3em;
      box-shadow: 2px 2px 5px var(--shadow-color);
      display: flex;
      justify-content: center;
      align-items: center;
      &.light{
        background-color: white;
      }
      &.dark{
        background-color: black;
      }
      .check{
        background-color: var(--primary-color);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 3em;
      }
    }
  }
}
